/......png
/.vscode
/1618973806689.jpg
/549ac979-c02e-4f89-a5f1-4bbb997ba450.jpg
/5d8eca92-7c0e-4efc-bee2-50564ede8422.jpg
/685609a8-da20-4654-a333-8a565b5b8166.jpg
/694ad752-0e49-405f-81a9-90beff9aea18.jpg
/94dd0d1c-9ad5-45cf-a1b9-a35954ed4290.jpg
/96db37d1-8961-4d75-935c-41d0b8571e1f.jpg
/AAPL_2026-03-15_22-20-52.png
/Abdulkabirbags.gofullpage.png
/adeyemhiwebsite.gofullpage.png
/afeez 2.jpg
/afeez1.jpg
/AFOLABI REPORT_.pdf
/b (1).png
/Be yours Theme.zip
/before and after design.png
/bf38860c-a031-48e8-9db5-3341b8511dc1.jpg
/c.png
/c0b0d6cf-99b1-4cce-a073-e601c4696008.jpg
/CapCut Drafts
/CapCut Materials
/cart abandonment gig.jpeg
/charis f logo.png
/charisfragrances- old website 2025.png
/charisfragrances- revamped website 2025.png
/check.png
/College Physics Schaums outline.pdf
/craftsvilla.jpg
/dc10e0d8-0b08-4fca-b071-32b6308ecc07.jpg
/dd5d852e-96a8-4aaa-8cd5-2e333ab3265b.jpg
/Death of jesus.mp4
/desktop.ini
/DOG STORE.png
/e.png
/email-validation-results.csv
/email_extractor_lite_2026_4_27.txt
/email_extractor_lite_2026_4_28 (1).txt
/email_extractor_lite_2026_4_28 (2).txt
/email_extractor_lite_2026_4_28.txt
/email_extractor_lite_2026_4_29.txt
/email_extractor_lite_2026_4_30.txt
/f10fdaf2-3210-4b47-97d9-d72557c47ca1.jpg
/FeelinGirl.Client Project.png
/FeelinGirl.client.Project.png
/ff.jpg
/fiverr gig image (1).jpeg
/fiverr gig image 2-.jpeg
/fiverr gig image 2.jpeg
/ghd.jpg
/Git-2.54.0-64-bit.exe
/hada.png
/hada2.png
/Hafeez. (1).png
/Hafeez. (2).png
/Hafeez..png
/Harlow Real estate.mp4
/hel1.png
/Home _ Charis Fragrances.mp4
/Home-Charis-Fragrances-09-04-2025_03_36_PM.png
/Home-Charis-Fragrances-09-04-2025_03_49_PM.png
/hs.png
/Image Oct 5, 2025, 12_18_06 AM.png
/Image Oct 5, 2025, 12_18_15 AM.png
/Image Oct 5, 2025, 12_18_19 AM.png
/Image Oct 5, 2025, 12_23_34 AM.png
/Image Sep 2, 2025, 01_46_13 PM.png
/Image Sep 2, 2025, 01_54_15.png
/Image Sep 2, 2025, 03_41_02 PM.png
/imga gig 3 (2).jpeg
/istockphoto-2170491631-612x612.jpg
/Joseph's Dreams.mp4
/kylie cosmetics.png
/L'oreal.jpg
/lekzy-removebg-preview.png
/merchant.txt
/MIRRORS_AND_REFLECTIONS!_STARRING_BIMBO_ADEMOYE,_SONIA_UCHE,_CLINTON_JOSHUA._LATEST_2026_MOVIE__.(240p).mp4
/mju.jpg
/mju1.jpg
/mju19.jpg
/mju2.jpg
/mju3.jpg
/mju4.jpg
/mju5.avif
/mju6.jpg
/mju7.avif
/mju8.jpg
/mju8.png
/mju9.jpg
/Moses_ Prince of Egypt.mp4
/mu.jpg
/mu1.jpg
/mu2.jpg
/mu3.jpg
/mu4.jpg
/mu5.jpg
/mu6.jpg
/mvmt jewelry.jpg
/nava.png
/NestFinder Popup form.png
/New folder
/Next finder Realtor.mp4
/not scouted.txt
/nuvanibeauty.mp4.mp4
/O1CN010zVSyv1eeQ4UzC5V8__2206772123896-0-cib.jpg
/O1CN01BTeA0r20ToSy6QvLe__2211438036851-0-cib.jpg
/O1CN01kDchNv1eeQ4Uz7rOc__2206772123896-0-cib.jpg
/o1_03.txt
/ope1.jpg
/ope10.jpg
/ope11.jpg
/ope2.jpg
/ope3.jpg
/ope4.jpg
/ope5.jpg
/ope6.jpg
/ope7.jpg
/ope8.jpg
/ope9.jpg
/owo1.jpg
/owo2.jpg
/owo3.jpg
/pexels-edmond-dantes-8547341.jpg
/pexels-karola-g-5900131.jpg
/pexels-mart-production-7643750.jpg
/pexels-mikhail-nilov-7731355.jpg
/pexels-mikhail-nilov-8730963.jpg
/Ridwan (1).png
/Ridwan shoes (1).png
/Ridwan shoes.png
/Ridwan-removebg-preview.png
/Ridwan.png
/Ridwan__1_-removebg-preview.png
/Saul encounters God.mp4
/scouting on chrome.txt
/scouting plan.txt
/screencapture-nuvanibeauty-2025-09-12-23_17_08.png
/segment 1.txt
/segment 2.txt
/segment 3.txt
/SHOPFY FRANCE.csv
/SHOPIFY BRAZIL.csv
/shopify design.jpeg
/SHOPIFY GERMANY.xlsx
/shopify gig image (1).png
/shopify gig image (2).png
/shopify gig image.png
/shopify gig imsge2.png
/SHOPIFY ITALY.csv
/shopify logo.png
/shopify_logo-removebg-preview.png
/Sparklewash pro website.mp4
/SparkleWash-Pro popup form.png
/Stephen stoned to death .mp4
/Story of moses.mp4
/Tiktok fiverr gig image.png
/Tiktok shop gig image (1).png
/Tiktok shop gig image.png
/to rescout.txt
/Unconfirmed 518803.crdownload
/Untitled design.png
/Velocity rent.mp4
/VH realty pop up form.png
/VM_Professional_Package.docx
/VSCodeUserSetup-x64-1.118.1.exe
/WhatsApp Image 2025-09-04 at 3.22.05 PM (1).jpeg
/WhatsApp Image 2025-09-04 at 3.22.05 PM.jpeg
/WhatsApp Image 2025-09-04 at 3.22.06 PM.jpeg
/WhatsApp Image 2025-10-20 at 1.11.00 PM (1).jpeg
/WhatsApp Image 2025-10-20 at 1.11.00 PM.jpeg
/WhatsApp Image 2025-10-20 at 1.11.01 PM.jpeg
/WhatsApp Image 2026-03-06 at 11.48.00 AM.jpeg
/WhatsApp Image 2026-03-06 at 11.48.01 AM.jpeg
/WhatsApp Image 2026-05-04 at 4.42.49 AM.jpeg
/WhatsApp Video 2025-09-06 at 3.38.08 AM.mp4
/WIX (1).png
/WIX ALL NEW LIST11.xlsx
/WIX CANADA NEW LIST11.xlsx
/wix crv.txt
/WIX GERMANY NEW LIST11.xlsx
/WIX SAPAIN NEW LIST11.xlsx
/WIX UNITED KINGDOM NEW LIST11.xlsx
/y2k (1).png
/y2k description.txt
/y2k gig.png
/Y2k Gig.txt
/y2k.png